
.social,
.footer-one,

* {
	box-sizing : border-box;

	margin     : 0;
	padding    : 0;
}

.menu-container {
	display          : flex;

	padding          : 20px 0;

	background-color : #5995DA;
	color            : #fff;

	justify-content  : center;
}

.menu {
	display         : flex;

	width           : 900px;

	justify-content : space-between;
}

.links {
	display         : flex;
	justify-content : flex-end;
}

.login {
	margin-left : 20px;
}

.header-container {
	display          : flex;

	background-color : #D6E9FE;
	color            : #5995DA;

	justify-content  : center;
}

.header {
	display         : flex;

	height          : 300px;
	width           : 900px;

	justify-content : space-between;
	align-items     : center;
}

.photo-grid-container {
	display         : flex;
	justify-content : center;
}

.photo-grid {
	display         : flex;

	width           : 900px;

	justify-content : center;
	flex-wrap       : wrap;
	flex-direction  : row;
	align-items     : center;
}

.photo-grid-item {
	height : 300px;
	width  : 300px;

	border : 1px solid #fff;
}

.first-item {
	order : 1;
}

.last-item {
	order : -1;
}

.social,
.subscribe {
	align-self: center;
	margin-bottom : 20px;	
}

.footer {
	display         : flex;
	justify-content : space-between;
}

.footer-item {
	height           : 200px;

	background-color : #D6E9FE;
	border           : 1px solid #fff;

	flex             : 1;
}

.footer-three {
	flex : 2;
}

.footer-one,
.footer-three {
	width            : 300px;

	background-color : #5995DA;

	flex             : initial;
}

.signup  {
	margin-left : auto;
}
